body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-family: 'Muli', sans-serif;
  background: #FFBB52;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 15px;
  outline: none;
  border: 1px solid white;
}

input:focus {
  border: 2px solid #ff9d05;
}

.addOption {
  margin-top: 20px;
  font-size: 15px;
  width: 100px;
}

button {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  background-color: #ff9d05;
  color: white;
  font-style: bold;
  border: 2px solid #ff9d05;
  border-radius: 50px;
  width: 250px;
  padding: 10px 15px;
  text-align: center;
  font-size: 20px;
  transition: all 0.8s;
}

button:hover {
  background-color: #ff7305;
  border-color: white;
}
